/* Styles for Both */
.apple-logo {
  width: 16px;
  background-color: #d7d7d7;
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask: url("../../assets/navbar/apple_image.svg") no-repeat 50% 50%;
  mask: url("../../assets/navbar/apple_image.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: 200ms;
}

.apple-logo:hover {
  background-color: rgb(255, 255, 255);
}

.bag-image,
.search-image {
  width: 18px;
  background-color: #d7d7d7;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask: url("../../assets/navbar/bag.svg") no-repeat 50% 50%;
  mask: url("../../assets/navbar/bag.svg") no-repeat 50% 50%;
  cursor: pointer;
  transition: 200ms;
}

.bag-image:hover,
.search-image:hover {
  background-color: #ff0000;
}

/* Desktop  Exclusive*/
@media only screen and (min-width: 756px) {
  .mobile-navbar {
    display: none;
  }

  .menu-dropdown{
    display: none;
  }

  .desktop-navbar {
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .desktop-navbar > ul {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .desktop-navbar > ul > a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 12px;
    padding: 14px 0;
    transition: 200ms;
  }

  .desktop-navbar > ul > a:hover {
    color: #ffffff;
  }

  .desktop-navbar > ul > .search-image {
    -webkit-mask: url("../../assets/navbar/search_image.svg") no-repeat 50% 50%;
    mask: url("../../assets/navbar/search_image.svg") no-repeat 50% 50%;
  }
}
