@media only screen and (max-width: 756px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
  }

  .mobile-bag-image {
    width: 48px;
    height: 48px;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/navbar/apple_bag.svg");
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: background;
  }
  /* Menu buttom */
  .menu {
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-icon-container {
    cursor: pointer;
  }

  .top-bar,
  .bottom-bar {
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: antiquewhite;
  }

  .menu .top-bar {
    top: 20px;
  }

  .menu .bottom-bar {
    top: 27px;
  }

  .menu .active .menu-content {
    width: 100%;
    display: flex;
    position: relative;
  }

  .menu .active .menu-content .mobile-navbar {
    width: 100%;
    display: flex;
    position: absolute;
  }

  /* Cross Animations */
  .menu .active .top-bar {
    transition-duration: 400ms;
    transition-property: top, transform;
    top: auto;
    transform: rotate(-45deg);
  }
  .menu .active .bottom-bar {
    transition-duration: 400ms;
    transition-property: top, transform;
    top: auto;
    transform: rotate(45deg);
  }

  .menu .inactive .top-bar {
    animation-name: reverse-top;
    animation-duration: 400ms;
  }
  .menu .inactive .bottom-bar {
    animation-name: reverse-bottom;
    animation-duration: 400ms;
  }

  @keyframes reverse-top {
    0% {
      top: auto;
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      top: auto;
      transform: translateY(-4px);
    }
  }

  @keyframes reverse-bottom {
    0% {
      top: auto;
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      top: auto;
      transform: translateY(3px);
    }
  }

  /* Dropdown animation */
  .mobile-menu .active {
    background-color: black;
    transition-duration: 400ms;
    transition-property: background;
  }

  .mobile-menu .inactive {
    background-color: #333333;
    transition-duration: 400ms;
    transition-property: background;
  }
  .mobile-menu .active .mobile-navbar .mobile-bag-image {
    background-image: none;
  }
  .menu-dropdown .inactive {
    height: 0vh;
    visibility: hidden;
    transition-duration: 400ms;
    transition-property: height;
  }

  .menu-dropdown .active {
    height: 100vh;
    visibility: visible;
    transition-duration: 400ms;
    transition-property: height, background;
  }

  /* dropdown Styles */
  .menu-dropdown .active .mobile-links {
    display: flex;
    flex-direction: column;
  }

  .menu-dropdown .active .mobile-links {
    border-top: rgb(149, 149, 149) 1px solid;
    padding: 0 40px;
  }

  .menu-dropdown .active .search-bar {
    margin: 20px 10px;
    padding: 0 10px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    border-radius: 8px;
    background-color: #1a1a1a;
  }

  .menu-dropdown .active .search-bar .search-icon {
    margin-right: 6px;
    width: 18px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://store.storeimages.cdn-apple.com/4982/store.apple.com/shop/rs-globalelements/dist/us/ac-globalnav-dist/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_small.svg");
  }

  .menu-dropdown .active .search-bar input {
    height: 35px;
    width: 100%;
    border: none;
    font-size: 18px;
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  .menu-dropdown .active .search-bar input:focus {
    outline: none;
  }

  .menu-dropdown .active a:first-of-type {
    border-top: none;
  }

  .menu-dropdown .active a {
    padding: 10px 20px;
    border-top: rgb(149, 149, 149) 1px solid;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}
