@media only screen and (max-width: 756px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
  }

  .mobile-bag-image {
    width: 48px;
    height: 48px;
    background-color: #d7d7d7;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    mask: url("../../assets/navbar/apple_bag.svg") no-repeat 50% 50%;
    cursor: pointer;
    transition: 200ms;
  }

  .menu-container {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu,
  .menu-on,
  .menu-of {
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-bar,
  .bottom-bar {
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: antiquewhite;
  }

  .menu-of .top-bar {
    top: 20px;
  }

  .menu-of .bottom-bar {
    top: 27px;
  }

  // Animations forwards

  .menu-on {
    .top-bar {
      animation: top-to-center linear 400ms forwards;
    }

    .bottom-bar {
      animation: bottom-to-center linear 400ms forwards;
    }
  }

  @keyframes top-to-center {
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-45deg) translateY(0px);
    }
  }
  @keyframes bottom-to-center {
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(45deg) translateY(0px);
    }
  }

  // Animation backwards

  .menu {
    .top-bar {
      animation: center-to-top forwards 3s ;
    }

    .bottom-bar {
      animation: center-to-bottom forwards 3s ;
    }
  }

  @keyframes center-to-top {
    0% {
      transform: translateY(0px) rotate(-45deg);
    }
    50% {
      transform: translateY(3px) rotate(0deg) ;
    }
    to {
      transform:translateY(-4px);
    }
  }
  @keyframes center-to-bottom {
    from {
      transform: translateY(-4px) rotate(45deg);
    }
    50% {
      transform: translateY(3px) rotate(0deg);
    }
    to {
      transform: translateY(3px);
    }
  }
}
